
*.user
*.obj
*.lib
*.suo
*.ncb
*.cache
*.orig
*.sdf
*.nupkg
[Oo]bj
[Bb]in
[Bb]uild
[Db]ebug
[Rr]elease
deployed
_ReSharper*/
out/*
nupkg/*
src/packages/**/*
.wave-vs.net.backup
*.local.xml
*.local
*mm_cache.bin