@model ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePasswordOk";
}
<h2>
    ChangePasswordOk</h2>
<div class="display-label">Username</div>
<div class="display-field">@Model.LoginName</div>
