@using Aperea.MVC.Areas.Account.Models
@model PasswordResetViewModel

@{
    ViewBag.Title = "PasswordResetOk";
}

<h2>PasswordResetOk</h2>

<fieldset>
    <legend>PasswordResetViewModel</legend>

    <div class="display-label">Username</div>
    <div class="display-field">@Model.Username</div>

    <div class="display-label">Password</div>
    <div class="display-field">@Model.Password</div>

    <div class="display-label">ConfirmPassword</div>
    <div class="display-field">@Model.ConfirmPassword</div>
</fieldset>