@using Aperea.MVC.Areas.Account.Models
@model PasswordResetRequestViewModel

@{
    ViewBag.Title = "PasswordResetRequestOk";
}

<h2>PasswordResetRequestOk</h2>

<fieldset>
    <legend>PasswordResetRequestViewModel</legend>

    <div class="display-label">EMail</div>
    <div class="display-field">@Model.EMail</div>
</fieldset>